<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>MEAN-CMS - The MEAN Stack Blog</title>

    <link rel="shortcut icon" href="/admin/_content/images/logo.png" type="image/png" />
    <link rel="icon" href="/admin/_content/images/logo.png" type="image/png" />    

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://unpkg.com/ionicons@4.4.4/dist/css/ionicons.min.css" rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=Oswald:400,300,700" rel="stylesheet">

    <style>
        <%- include('css/style.css') %>
    </style>
</head>
<body>
    <section class="section-header black">
        <nav class="container black">
            <a href="#" class="brand-logo"><span class="yellow-text">MEAN</span> <span class="white-text">CMS</span></a>
            <br>
            <ul class="center nav-list yellow">
                <li><a href="/" class="black-text nav-item">Home</a></li>
                <li><a href="/archive" class="black-text nav-item">Archive</a></li>
                <li><a href="/contact" class="black-text nav-item">Contact</a></li>
            </ul>
        </nav>
    </section>

    <section class="blog-header center center-align">
        <div class="container">
            <h1 style="font-family: oswald"><span class="yellow-text">Lorem </span><span class="grey-text">Ipsum </span><span class="black-text">Blog</span></h1>
        </div>
    </section>

    <section class="section-body grey lighten-3" ui-view>
        <div class="row">
            <div class="col l9 m9">
                <% if(locals.templateUrl) { %>
                    <div ng-non-bindable>
                        <%- include(locals.templateUrl) %>
                    </div>
                <% } %>
            </div>
            <div class="col l3 m3">
                <div class="col l12 m12 side-widget-area">
                    <ul class="tabs">
                        <li class="tab center side-widget"><a href="#months-list" class="active center-align yellow white-text">Months</a></li>
                    </ul>
                    <div id="months-list" class="center center-align side-widget-content white yellow-text">
                        <%- include('_partials/month-list.html') %>
                    </div>
                </div>
                <div class="col l12 m12 side-widget-area">
                    <ul class="tabs">
                        <li class="tab center side-widget"><a href="#months-list" class="active center-align yellow white-text">Tags</a></li>
                    </ul>
                    <div id="months-list" class="center center-align side-widget-content white yellow-text">
                        <%- include('_partials/tag-list.html') %>
                    </div>
                </div>
                <div class="col l12 m12 side-widget-area">
                    <ul class="tabs">
                        <li class="tab center side-widget"><a href="#months-list" class="active center-align yellow white-text">Helpful Links</a></li>
                    </ul>
                    <div id="months-list" class="center center-align side-widget-content white">
                        <ul>
                            <li><a href="../admin" target="_blank" class="yellow-text">Admin Login</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer>
        <div class="center center-align copyright black">
            <b><span class="white-text">Powered By </span><a href="#" target="_blank" class="yellow-text">Olatunde Oladunni - Web Application Developer</a></b>
        </div>
    </footer>

    <!-- syntax highlighter -->
    <script src="/_content/syntaxhighlighter/js/shCore.js"></script>
    <script src="/_content/syntaxhighlighter/js/shBrushCSharp.js"></script>
    <script src="/_content/syntaxhighlighter/js/shBrushCss.js"></script>
    <script src="/_content/syntaxhighlighter/js/shBrushJScript.js"></script>
    <script src="/_content/syntaxhighlighter/js/shBrushPlain.js"></script>
    <script src="/_content/syntaxhighlighter/js/shBrushSql.js"></script>
    <script src="/_content/syntaxhighlighter/js/shBrushVb.js"></script>
    <script src="/_content/syntaxhighlighter/js/shBrushXml.js"></script>
    <script>
        SyntaxHighlighter.defaults['gutter'] = true;
        SyntaxHighlighter.defaults['smart-tabs'] = true;
        SyntaxHighlighter.defaults['auto-links'] = true;
        SyntaxHighlighter.defaults['collapse'] = false;
        SyntaxHighlighter.defaults['light'] = false;
        SyntaxHighlighter.defaults['tab-size'] = 4;
        SyntaxHighlighter.defaults['toolbar'] = true;
        SyntaxHighlighter.defaults['wrap-lines'] = true;
    </script>


    <!-- Minified JQuery -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

	<!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <script>
        $(document).ready(function(){
            $('.tabs').tabs();
        });
    </script>
    
    <!-- angular -->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.min.js"></script>

    <!-- meanie -->
    <script src="_dist/app.min.js"></script>
    
</body>
</html>