<div class="add-edit-form-area container">
    <h5>My Account</h5>
    <form method="post">
        <div class="input-field">
            <input placeholder="Username" id="username" type="text"  ng-model="vm.user.username" required />
        </div>
        <div class="input-field">
            <input placeholder="Password" type="text" id="password" ng-model="vm.user.password" />
        </div>
        <div class="center">
            <a class="btn waves waves-effect indigo lighten-2" ng-click="vm.saveUser()">UPDATE</a>
        </div>
    </form>
</div>