<div class="contact-area container">
    <h5 class="center-align">Contact Me</h5>
    <form name="f" ng-submit="f.$valid && vm.submit()" novalidate>
        <div class="input-field" ng-class="{ 'has-error': f.$submitted && f.name.$invalid }">
            <input id="name" name="name" type="text" placeholder="Name" ng-model="vm.name" required>
            <div ng-messages="f.$submitted && f.name.$error" class="help-block ng-cloak">
                <div ng-message="required">Name is required</div>
            </div>
        </div>
        <div class="input-field" ng-class="{ 'has-error': f.$submitted && f.email.$invalid }">
            <input id="email" name="email" type="text" placeholder="Email" ng-model="vm.email" required>
            <div ng-messages="f.$submitted && f.email.$error" class="help-block ng-cloak">
                <div ng-message="required">Email is required</div>
                <div ng-message="email">Email is invalid</div>
            </div>
        </div>
        <div class="input-field" ng-class="{ 'has-error': f.$submitted && f.subject.$invalid }">
            <input id="subject" name="subject" type="text" placeholder="Subject" ng-model="vm.subject" required>
            <div ng-messages="f.$submitted && f.subject.$error" class="help-block ng-cloak">
                <div ng-message="required">Subject is required</div>
            </div>
        </div>
        <div class="input-field" ng-class="{ 'has-error': f.$submitted && f.message.$invalid }">
            <textarea id="message" name="message" type="text" placeholder="Message" class="text-input" ng-model="vm.message" required></textarea>
            <div ng-messages="f.$submitted && f.message.$error" class="help-block ng-cloak">
                <div ng-message="required">Message is required</div>
            </div>
        </div>
        <div class="input-field center">
            <a class="waves-effect waves-light btn yellow center" ng-disabled="vm.loading">Submit</a>
        </div>
    </form>
    <div ng-if="vm.error" class="alert alert-danger ng-cloak">{{vm.error}}</div>
</div>