<div class="row post-area">
    <div class="col l12 m12 center center-align">
        <h5 class="center-align yellow-text post-details-title post-title-area"><%= locals.post.title %></h5>
    </div>
    <div class="post-metadata">
        <div class="col l3 m3 post-publishdate yellow black-text center-align">
            <%= locals.post.publishDateFormatted %>
        </div>
        <div class="col l8 m8 yellow black-text center-align post-tag-slug">
            <% if(locals.postTags && locals.postTags.length) { %>
                <span>
                    Tags: 
                    <%- locals.postTags.map(function(tag) { return '<a href="/posts/tag/' + tag.slug + '">' + tag.text + '</a>'; }).join(', ') %>
                </span>
            <% } %>
        </div>
    </div>
    <div class="col l12 m12 post-summary-area">
        <div ng-non-bindable><%- locals.post.body %></div>
    </div>
    <div class="col l12 m12 share-post-area">
        <p class="right">
            <span>Share on: </span>
            <a href="http://facebook.com/sharer.php?u=<%= locals.url %>" target="_blank"><i class="icon ion-logo-facebook"></i></a>
            <a href="http://twitter.com/intent/tweet?url=<%= locals.url %>&text=<%= locals.post.title %>" target="_blank"><i class="icon ion-logo-twitter"></i></a>
            <a href="https://plus.google.com/share?url=<%= locals.url %>" target="_blank"><i class="icon ion-logo-googleplus"></i></a>
        </p>
    </div>
</div>

<hr>

<!-- comments -->
<div id="disqus_thread"></div>
<script>
    // update page title
    var metaTitle = '<%- locals.metaTitle.replace(/\'/g, "\\\'") %>';
    document.title = metaTitle;

    var disqus_config = function () {
        this.page.url = '<%= locals.post.permalink %>';
        this.page.title = metaTitle;
    };

    if (!window.postViewLoaded) {
        // load disqus script the first time the view loads
        (function () {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = 'http://meaniedemo.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();

        window.postViewLoaded = true;
    } else if (window.DISQUS) {
        // else if disqus already loaded call DISQUS.reset
        DISQUS.reset({
            reload: true,
            config: disqus_config
        });
    }
</script>