<div class="add-post-area container">
    <h5>Page Details</h5>
    <form ng-if="!vm.loading">
        <div class="input-field">
            <input placeholder="Title" id="title" type="text"  ng-model="vm.page.title" />
        </div>
        <div class="input-field">
            <input placeholder="Slug" type="text" id="slug" ng-model="vm.page.slug" />
            <a class="generate-slug btn waves waves-effect indigo lighten-2" ng-click="vm.page.slug = (vm.page.title | slugify)">Generate from title</a>
        </div>
        <div class="input-field">
            <textarea placeholder="Summary" id="summary" ng-model="vm.page.description" rows="4"></textarea>
        </div>
        <div class="input-field">
            <textarea ng-model="vm.page.body" wysiwyg></textarea>
        </div>
        <p>
            <label>
                <input type="checkbox" ng-model="vm.page.publish" />
                <span>Publish</span>
            </label>
        </p>
        <div class="center">
            <a class="btn waves waves-effect indigo lighten-2" ng-click="vm.savePage()">SAVE</a>
            <a class="btn waves waves-effect indigo lighten-2" href="#/pages">CANCEL</a>
            <a class="btn waves waves-effect indigo lighten-2" ng-click="vm.deletePage()" ng-show="vm.page._id">DELETE</a>
        </div>
    </form>
</div>