<div class="add-edit-form-area container">
    <h5>301 Redirect Details</h5>
    <form ng-if="!vm.loading">
        <div class="input-field">
            <input placeholder="From (e.g. '/old-url')" id="from" type="text"  ng-model="vm.redirect.from" required />
        </div>
        <div class="input-field">
            <input placeholder="To (e.g. '/new-url')" type="text" id="to" ng-model="vm.redirect.to" />
        </div>
        <div class="center">
            <a class="btn waves waves-effect indigo lighten-2" ng-click="vm.saveRedirect()">SAVE</a>
            <a class="btn waves waves-effect indigo lighten-2" href="#/redirects">CANCEL</a>
            <a class="btn waves waves-effect indigo lighten-2" ng-click="vm.deleteRedirect()" ng-show="vm.redirect._id">DELETE</a>
        </div>
    </form>
</div>