<div class="add-post-area container">
    <h5>Post Details</h5>
    <form ng-if="!vm.loading">
        <div class="input-field">
            <input placeholder="Title" id="title" type="text"  ng-model="vm.post.title" />
        </div>
        <div class="input-field">
            <input placeholder="Slug" type="text" id="slug" ng-model="vm.post.slug" />
            <a class="generate-slug btn waves waves-effect indigo lighten-2" ng-click="vm.post.slug = (vm.post.title | slugify)">Generate from title</a>
        </div>
        <div class="input-field">
            <textarea placeholder="Summary" id="summary" ng-model="vm.post.summary" rows="4"></textarea>
        </div>
        <div class="input-field">
            <textarea ng-model="vm.post.body" wysiwyg></textarea>
        </div>
        <div class="input-field">
            <input type="text" id="tags" placeholder="Tags" ng-model="vm.post.tags" tags />
        </div>
        <div class="post-date">
            <i class="icon ion-md-calendar"></i>
            <input type="text" placeholder="Publish Date" id="publish-date" ng-model="vm.post.publishDate" class="datepicker" />
        </div>
        <p>
            <label>
                <input type="checkbox" ng-model="vm.post.publish" />
                <span>Publish</span>
            </label>
        </p>
        <div class="center">
            <a class="btn waves waves-effect indigo lighten-2" ng-click="vm.savePost()">SAVE</a>
            <a class="btn waves waves-effect indigo lighten-2" href="#/posts">CANCEL</a>
            <a class="btn waves waves-effect indigo lighten-2" ng-click="vm.deletePost()" ng-show="vm.post._id">DELETE</a>
        </div>
    </form>
</div>


<script>
    $(document).ready(function(){
        $('.datepicker').datepicker();
    });
</script>